.title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    margin-left: 101px;
    margin-bottom: 95px;
    margin-top: 80px;
    width: 299px;
    height: 68px;
    display: flex;
    align-items: center;
}
.container{

 display: flex;
 justify-content: center;
 background-color: aquamarine;

 

}
.items{
    max-width: 1238px;
    margin-top: 0;
}
.items ul{
 
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px; 
    grid-row-gap: 103px;
    justify-content: center;
    margin-left: -50px;

}

li{
    width: 386px;
    height: 444px;
   
}
li:hover{
    background-color: white;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    /* background-image: url('../assets/Circle\ Icon.svg') no-repeat; */
    
}

li img{
    width: 354px;
    height: 330px;
    margin: 16px;

}

.icon{
    width: 52px;
    height: 52px;
    bottom: 56px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
li:hover > .icon{
    opacity: 1;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}
.name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    margin-left: 16px;
    margin-top:8px;
    margin-bottom: 0;
}

.price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin-left: 16px;
    margin-top: 0;
   
}