.item{
    width: 100%;
    height: 853px;
    display: flex;
    margin-top: 80px;
}

.itemImg ul{
    height: 324px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 100px;
    
}
.itemImg li {
    margin-bottom: 40px;
   
}

.itemImg img{
  width: 79px;
  height: 80px;
  margin: 0;
  padding: 0;
  cursor: pointer;
 
}
.description{
    width: 1002px;
    height: 595px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 3px;
   
}

.zoomedItem{
  background-image: url('../assets/Image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 610px;
  height: 511px;
  margin: 0;
}

.itemDetails{
    width: 292px;
    height: 595px;
 
} 

.brandName{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-top: 0;
}

.brandName span{
    font-weight: 400; 
    display: block;
    margin-top: 16px;
  
}
.size{
    margin-top: 43px;
}
.size h2{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
    margin: 0 0 8px 0;
}

.size button{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #1D1F22;
    width: 63px;
    height: 45px;
    text-align: center;
    border-radius: 0;
    border: 1px solid #1D1F22;
    background: #FFFFFF;
    cursor: pointer;
}

.size button:not(:last-child){
    margin-right: 12px;
}
.color{
    margin-top: 24px;
}
.color h2{
    color: #1D1F22;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 8px 0;

}

.color button{
    width: 36px;
    height: 36px;
    border-radius: 0;
    border: none;
    cursor: pointer;

}

.color button:not(:last-child){
    margin-right: 8px;
}

.price{
    color: #1D1F22;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
}
.price h2:first-child{
    font-family: 'Roboto Condensed';
    font-size: 18px;
    margin: 36px 0  10px 0;

}
.price h2:nth-child(2){
    font-family: 'Raleway';
    font-size: 18px;
    font-size: 24px;
    width: 86px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

}

.addBtn{
    width: 292px;
    height: 52px; 
    background: #5ECE7B;
    color: #FFFFFF;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    cursor: pointer;
}

.textDescription{
    color: #1D1F22;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    width: 292px;
    height: 103px;
    margin-top: 40px;
}